Repository Namo-log/iOS_SwiftUI, pull requests merged in 2024-10, with the labels that each got.

#186 [Refactor] 인증 관련 로직 리팩토링 완료
  Namo_SwiftUI/Projects/App/Sources/old/Common/DI/FactoryDI.swift
  Namo_SwiftUI/Projects/App/Sources/old/Data/Repository/Auth/AuthRepositoryImpl.swift
  Namo_SwiftUI/Projects/App/Sources/old/Data/Repository/Category/CategoryRepositoryImpl.swift
  Namo_SwiftUI/Projects/App/Sources/old/Data/Repository/Diary/DiaryRepositoryImpl.swift
  Namo_SwiftUI/Projects/App/Sources/old/Data/Repository/Diary/MoimDiaryRepositoryImpl.swift
  Namo_SwiftUI/Projects/App/Sources/old/Data/Repository/Moim/MoimRepositoryImpl.swift
  Namo_SwiftUI/Projects/App/Sources/old/Data/Repository/Place/PlaceRepositoryImpl.swift
  Namo_SwiftUI/Projects/App/Sources/old/Data/Repository/Term/TermRepositoryImpl.swift
  Namo_SwiftUI/Projects/App/Sources/old/Domain/UseCase/Auth/AuthUseCase.swift
  Namo_SwiftUI/Projects/App/Sources/old/Domain/UseCase/Category/CategoryUseCase.swift
  Namo_SwiftUI/Projects/App/Sources/old/Domain/UseCase/Diary/DiaryUseCase.swift
  Namo_SwiftUI/Projects/App/Sources/old/Domain/UseCase/Diary/MoimDiaryUseCase.swift
  Namo_SwiftUI/Projects/App/Sources/old/Domain/UseCase/Moim/GroupUseCase.swift
  Namo_SwiftUI/Projects/App/Sources/old/Domain/UseCase/Place/PlaceUseCase.swift
  Namo_SwiftUI/Projects/App/Sources/old/Domain/UseCase/Term/TermUseCase.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Components/KakaoMapView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Custom/CustomMain/CustomMainView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Custom/Setting/ViewModel/SettingViewModel.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Diary/DiaryMain/DatePlaceInfoView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Diary/DiaryMain/DiaryMainView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Diary/DiaryMain/EditDiaryView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Diary/DiaryMain/EditMoimDiaryView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Home/CategorySetting/CategoryAddView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Home/CategorySetting/CategoryEditView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Home/CategorySetting/CategorySettingPath.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Home/CategorySetting/CategorySettingView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Home/HomeToDo/ToDoSelectCategoryView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Initial/Agree/View/AgreeSubView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Initial/Agree/View/AgreeView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Initial/Agree/ViewModel/AgreeViewModel.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Initial/Login/View/LoginView.swift
  Namo_SwiftUI/Projects/App/Sources/old/Presentation/Initial/Login/ViewModel/LoginViewModel.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/API/Auth/AuthInterceptor.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/API/Base/APIManager.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/API/EndPoint/Auth/AuthEndPoint.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/AuthClientInterface.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/AuthManagerInterface.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/Models/OAuthType.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/SNSLoginHelperInterface.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/temp.swift
  Namo_SwiftUI/Projects/Domain/Auth/Sources/AuthClient.swift
  Namo_SwiftUI/Projects/Domain/Auth/Sources/AuthManager.swift
  Namo_SwiftUI/Projects/Domain/Auth/Sources/SNSLoginHelper.swift
  Namo_SwiftUI/Projects/Domain/Auth/Sources/temp.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingLogin/OnboardingLoginStore.swift
  Namo_SwiftUI/Projects/Shared/Util/Sources/Utils/ErrorHandling/APIError.swift
  Namo_SwiftUI/Projects/Shared/Util/Sources/Utils/KeyChainManager.swift
Labels: 🔄Refactor

#189 [Feat] OnboardingCoordinator - 플로우 연결
  Namo_SwiftUI/Projects/App/Sources/Onboarding/OnBoardingCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Onboarding/OnBoardingCoordinatorView.swift
  Namo_SwiftUI/Projects/App/Sources/Onboarding/OnboardingCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Root/AppCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Root/AppCoordinatorView.swift
  Namo_SwiftUI/Projects/App/Sources/Splash/SplashCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Splash/SplashCoordinatorView.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/AuthClientInterface.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/AuthManagerInterface.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/Models/UserStatus.swift
  Namo_SwiftUI/Projects/Domain/Auth/Sources/AuthManager.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingComplete/OnboardingCompleteStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingComplete/OnboardingCompleteView.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingInfoInput/OnboardingInfoInputStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingInfoInput/OnboardingInfoInputView.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingLogin/OnboardingLoginStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingTOS/OnboardingTOSStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingTOS/OnboardingTOSView.swift
Labels: 💡Feat

#193 [Feat] LocationManager 작성
  Namo_SwiftUI/Projects/Shared/Util/Sources/Utils/LocationManager.swift
Labels: 💡Feat

#194 [Feat] 앱 첫 진입 시 수행 로직 추가 작성
  Namo_SwiftUI/Projects/App/Sources/Onboarding/OnBoardingCoordinatorView.swift
  Namo_SwiftUI/Projects/App/Sources/Onboarding/OnboardingCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Root/RootApp.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingSplash/OnboardingSplashStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingSplash/OnboardingSplashView.swift
  Namo_SwiftUI/Projects/Shared/Util/Sources/Utils/RemoteConfigManager.swift
  Namo_SwiftUI/Projects/Shared/Util/Sources/Utils/SharedKeys.swift
Labels: 💡Feat

#198 [Feat] Onboarding Flow 작성 완료
  Namo_SwiftUI/Projects/App/Namo_SwiftUI.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/App/Sources/Onboarding/OnBoardingCoordinatorView.swift
  Namo_SwiftUI/Projects/App/Sources/Onboarding/OnboardingCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Root/AppCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Root/AppCoordinatorView.swift
  Namo_SwiftUI/Projects/Core/Core.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Core/Network/CoreNetwork.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Core/Network/Sources/API/Base/APIManager.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/API/EndPoint/Auth/AuthEndPoint.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/DTO/AuthDTO.swift
  Namo_SwiftUI/Projects/Domain/Auth/DomainAuth.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/AuthClientInterface.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/AuthManagerInterface.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/Mapper/AuthMapper.swift
  Namo_SwiftUI/Projects/Domain/Auth/Interface/Sources/Models/SignUpInfo.swift
  Namo_SwiftUI/Projects/Domain/Auth/Sources/AuthClient.swift
  Namo_SwiftUI/Projects/Domain/Auth/Sources/AuthManager.swift
  Namo_SwiftUI/Projects/Domain/Category/DomainCategory.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Domain/Domain.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Domain/Friend/DomainFriend.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Domain/Moim/DomainMoim.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Feature/Category/FeatureCategory.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Feature/Feature.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Feature/Friend/FeatureFriend.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Feature/Moim/FeatureMoim.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Feature/Onboarding/FeatureOnboarding.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingComplete/OnboardingCompleteStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingComplete/OnboardingCompleteView.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingComplete/SubView/ProfileCardView.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingInfoInput/OnboardingInfoInputStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingInfoInput/SubView/ProfileImageInputView.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingInfoInput/SubView/ProfileInfoInputView.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingLogin/OnboardingLoginStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingTOS/OnboardingTOSStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingTOS/OnboardingTOSView.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingTOS/SubView/TOSListView.swift
  Namo_SwiftUI/Projects/Shared/DesignSystem/Derived/Sources/TuistAssets+SharedDesignSystem.swift
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_favColor_valid.imageset/Contents.json
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_favColor_valid.imageset/Property=Valid.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_favColor_valid.imageset/Property=Valid@2x.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_favColor_valid.imageset/Property=Valid@3x.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_favColor_valid.imageset/ic_favColor_valid.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_favColor_valid.imageset/ic_favColor_valid@2x.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_favColor_valid.imageset/ic_favColor_valid@3x.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Sources/Basic/PalleteColor.swift
  Namo_SwiftUI/Projects/Shared/Shared.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Shared/ThirdPartyLib/SharedThirdPartyLib.xcodeproj/project.pbxproj
  Namo_SwiftUI/Projects/Shared/Util/Sources/Model/CustomNotifications.swift
  Namo_SwiftUI/Projects/Shared/Util/Sources/Utils/LocationManager.swift
Labels: 💡Feat

#200 [Refactor] 카카오맵뷰 장소검색 TCA구조로 리팩토링
  Namo_SwiftUI/Plugins/DependencyPlugin/ProjectDescriptionHelpers/Modules.swift
  Namo_SwiftUI/Projects/App/Sources/Root/RootApp.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/API/EndPoint/Place/KakaoEndPoint.swift
  Namo_SwiftUI/Projects/Domain/PlaceSearch/Interface/Sources/Mapper/PlaceMapper.swift
  Namo_SwiftUI/Projects/Domain/PlaceSearch/Interface/Sources/Model/LocationInfo.swift
  Namo_SwiftUI/Projects/Domain/PlaceSearch/Interface/Sources/UseCase/PlaceSearchUseCaseInterface.swift
  Namo_SwiftUI/Projects/Domain/PlaceSearch/Project.swift
  Namo_SwiftUI/Projects/Domain/PlaceSearch/Sources/PlaceSearchUseCase.swift
  Namo_SwiftUI/Projects/Domain/PlaceSearch/Testing/Sources/DomainPlaceSearchTestingTemplate.swift
  Namo_SwiftUI/Projects/Domain/PlaceSearch/Tests/Sources/DomainPlaceSearchTestsTemplate.swift
  Namo_SwiftUI/Projects/Domain/Project.swift
  Namo_SwiftUI/Projects/Feature/Moim/Interface/Sources/MoimEdit/MoimEditInterface.swift
  Namo_SwiftUI/Projects/Feature/Moim/Project.swift
  Namo_SwiftUI/Projects/Feature/Moim/Sources/Core/MoimCoordinator.swift
  Namo_SwiftUI/Projects/Feature/Moim/Sources/Core/MoimCoordinatorView.swift
  Namo_SwiftUI/Projects/Feature/Moim/Sources/MoimEdit/MoimScheduleEditView.swift
  Namo_SwiftUI/Projects/Feature/Moim/Sources/MoimEdit/PlaceSearchStore.swift
  Namo_SwiftUI/Projects/Feature/Onboarding/Sources/OnboardingSplash/OnboardingSplashStore.swift
  Namo_SwiftUI/Projects/Feature/Project.swift
  Namo_SwiftUI/Projects/Feature/Sources/FeatureExport.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Example/Sources/FeatureKakaoMapExampleTemplate.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Interface/Sources/PlaceSearchInterface.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Project.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Sources/PlaceSearchStore.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Sources/PlaceSearchView.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Sources/SubViews/KakaoMapView.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Sources/SubViews/PlaceCell.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Testing/Sources/FeatureKakaoMapTestingTemplate.swift
  Namo_SwiftUI/Projects/Feature/placeSearch/Tests/Sources/FeatureKakaoMapTestsTemplate.swift
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_check_place.imageset/Contents.json
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_check_place.imageset/Vector@2x.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_check_place.imageset/Vector@3x.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_check_place.imageset/ic_check.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_info_window.imageset/Contents.json
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_info_window.imageset/white_black_round10.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_info_window_tail.imageset/Contents.json
  Namo_SwiftUI/Projects/Shared/DesignSystem/Resources/Assets.xcassets/NewIcon/ic_info_window_tail.imageset/white_black.png
  Namo_SwiftUI/Projects/Shared/DesignSystem/Sources/Components/UIImage+Asset.swift
  Namo_SwiftUI/graph.png
Labels: 🤔Question, 🔄Refactor

#203 [Feat] App Coordinator 에러 UI 처리 작성
  Namo_SwiftUI/Projects/App/Sources/Root/AppCoordinator.swift
  Namo_SwiftUI/Projects/App/Sources/Root/AppCoordinatorView.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/API/Auth/AuthInterceptor.swift
  Namo_SwiftUI/Projects/Core/Network/Sources/API/Base/APIManager.swift
  Namo_SwiftUI/Projects/Feature/Moim/Sources/Core/MoimCoordinatorView.swift
  Namo_SwiftUI/Projects/Shared/Util/Sources/Model/CustomNotifications.swift
Labels: 💡Feat

#209 [Fix] Popup, Alert 배경이 탭뷰에 가려지는 현상 수정
  Namo_SwiftUI/Projects/Shared/DesignSystem/Sources/Components/Dialog/NamoDialogModifier.swift
  Namo_SwiftUI/Projects/Shared/DesignSystem/Sources/Components/Popup/NamoPopupView.swift
  Namo_SwiftUI/Projects/Shared/Sources/SharedExport.swift
  Namo_SwiftUI/Projects/Shared/Util/Project.swift
  Namo_SwiftUI/Projects/Shared/Util/Sources/Utils/LocationManager.swift
  Namo_SwiftUI/graph.png
Labels: 🔧Fix
